{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}

<link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
 <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">




<div class="col-md-4 col-md-offset-0" id = topBar>

      <div align="center">
        <h2>What's for Dinner? </h2>
      </div>

<hr>




<style>
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nobile', Arial;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
#topBar {
  text-align: center;

  width: 1000px;
height: 100px;
padding : 50px

}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}

#table-wrapper {
  position:relative;
}
#table-scroll {
  height:250px;
  width: 1000px;
  overflow:auto;
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}
#table-wrapper table * {
  background:peach;
  color:black;
}
#table-wrapper table thead th .text {
  position:absolute;
  top:-20px;
  z-index:2;
  height:20px;
  width:20%;
  border:1px solid red;

}

</style>


<form action = "/index" method = "POST" name = "complex_selection">

  {{form4.hidden_tag()}}
  <p>
    {{form4.moreInfo.label}}
    {{form4.moreInfo}}
    {{form4.submit()}}
  </p>

</form>

<body>
  <h2>All ingredients in fridge!</h2>
  <div id = "table-wrapper">
    <div id = "table-scroll">
      <table class = "table table-hover" id = "t01">


      <tr>
        <th>ID</th>
        <th>CUISINE</th>

        <th>ingredient0</th>
        <th>INGREDIENT0 QUANTITY</th>
        <th>ingredient1</th>
        <th>INGREDIENT 1QUANTITY</th>
        <th>ingredient2</th>
        <th>INGREDIENT2 QUANTITY</th>
        <th>ingredient3</th>
        <th>INGREDIENT 3QUANTITY</th>
        <th>ingredient4</th>
        <th>INGREDIENT4 QUANTITY</th>
        <th>ingredient5</th>
        <th>INGREDIENT 5QUANTITY</th>
        <th>ingredient6</th>
        <th>INGREDIENT6 QUANTITY</th>
        <th>ingredient7</th>
        <th>INGREDIENT 7QUANTITY</th>
        <th>instructions </th>
        <th>calories </th>
        <th>protein </th>


      </tr>

      {% for r in zeroMissing %}
      <tr>
        <td>  {{r.id}}</td>
        <td>    {{r.cuisine}}</td>
        <td>  {{r.ingredient0}}</td>
        <td>    {{r.ing0quantity}}</td>
        <td>{{r.ingredient1}}</td>
        <td>  {{r.ing1quantity}}</td>
        <td>  {{r.ingredient2}}</td>
        <td>    {{r.ing2quantity}}</td>
        <td>{{r.ingredient3}}</td>
        <td>  {{r.ing3quantity}}</td>
        <td>  {{r.ingredient4}}</td>
        <td>    {{r.ing4quantity}}</td>
        <td>{{r.ingredient5}}</td>
        <td>  {{r.ing5quantity}}</td>
        <td>  {{r.ingredient6}}</td>
        <td>    {{r.ing6quantity}}</td>
        <td>{{r.ingredient7}}</td>
        <td>  {{r.ing7quantity}}</td>
        <td>  {{r.instructions}}</td>
        <td>  {{r.calories}}</td>
        <td>  {{r.protein}}</td>

      </tr>
      {% endfor %}

  </table>
  </div>
  </div>
</body>

<body>
  <h2>Recipes We Can Make with 1 new ingredient!</h2>
  <div id = "table-wrapper">
    <div id = "table-scroll">
      <table class = "table table-hover" table.fixed id = "t01">


      <tr>
        <th>ID</th>
        <th>CUISINE</th>

        <th>ingredient0</th>
        <th>INGREDIENT0 QUANTITY</th>
        <th>ingredient1</th>
        <th>INGREDIENT 1QUANTITY</th>
        <th>ingredient2</th>
        <th>INGREDIENT2 QUANTITY</th>
        <th>ingredient3</th>
        <th>INGREDIENT 3QUANTITY</th>
        <th>ingredient4</th>
        <th>INGREDIENT4 QUANTITY</th>
        <th>ingredient5</th>
        <th>INGREDIENT 5QUANTITY</th>
        <th>ingredient6</th>
        <th>INGREDIENT6 QUANTITY</th>
        <th>ingredient7</th>
        <th>INGREDIENT 7QUANTITY</th>
        <th>instructions </th>
        <th>calories </th>
        <th>protein </th>


      </tr>

      {% for r in oneMissing %}
      <tr>
        <td>  {{r.id}}</td>
        <td>    {{r.cuisine}}</td>
        <td>  {{r.ingredient0}}</td>
        <td>    {{r.ing0quantity}}</td>
        <td>{{r.ingredient1}}</td>
        <td>  {{r.ing1quantity}}</td>
        <td>  {{r.ingredient2}}</td>
        <td>    {{r.ing2quantity}}</td>
        <td>{{r.ingredient3}}</td>
        <td>  {{r.ing3quantity}}</td>
        <td>  {{r.ingredient4}}</td>
        <td>    {{r.ing4quantity}}</td>
        <td>{{r.ingredient5}}</td>
        <td>  {{r.ing5quantity}}</td>
        <td>  {{r.ingredient6}}</td>
        <td>    {{r.ing6quantity}}</td>
        <td>{{r.ingredient7}}</td>
        <td>  {{r.ing7quantity}}</td>
        <td>  {{r.instructions}}</td>
        <td>  {{r.calories}}</td>
        <td>  {{r.protein}}</td>

      </tr>
      {% endfor %}

  </table>
  </div>
  </div>
</body>

<body>
  <h2>Recipes We Can Make with 2 new ingredient!</h2>
  <div id = "table-wrapper">
    <div id = "table-scroll">
      <table class = "table table-hover" table.fixed id = "t01">


      <tr>
        <th>ID</th>
        <th>CUISINE</th>

        <th>ingredient0</th>
        <th>INGREDIENT0 QUANTITY</th>
        <th>ingredient1</th>
        <th>INGREDIENT 1QUANTITY</th>
        <th>ingredient2</th>
        <th>INGREDIENT2 QUANTITY</th>
        <th>ingredient3</th>
        <th>INGREDIENT 3QUANTITY</th>
        <th>ingredient4</th>
        <th>INGREDIENT4 QUANTITY</th>
        <th>ingredient5</th>
        <th>INGREDIENT 5QUANTITY</th>
        <th>ingredient6</th>
        <th>INGREDIENT6 QUANTITY</th>
        <th>ingredient7</th>
        <th>INGREDIENT 7QUANTITY</th>
        <th>instructions </th>
        <th>calories </th>
        <th>protein </th>


      </tr>

      {% for r in twoMissing %}
      <tr>
        <td>  {{r.id}}</td>
        <td>    {{r.cuisine}}</td>
        <td>  {{r.ingredient0}}</td>
        <td>    {{r.ing0quantity}}</td>
        <td>{{r.ingredient1}}</td>
        <td>  {{r.ing1quantity}}</td>
        <td>  {{r.ingredient2}}</td>
        <td>    {{r.ing2quantity}}</td>
        <td>{{r.ingredient3}}</td>
        <td>  {{r.ing3quantity}}</td>
        <td>  {{r.ingredient4}}</td>
        <td>    {{r.ing4quantity}}</td>
        <td>{{r.ingredient5}}</td>
        <td>  {{r.ing5quantity}}</td>
        <td>  {{r.ingredient6}}</td>
        <td>    {{r.ing6quantity}}</td>
        <td>{{r.ingredient7}}</td>
        <td>  {{r.ing7quantity}}</td>
        <td>  {{r.instructions}}</td>
        <td>  {{r.calories}}</td>
        <td>  {{r.protein}}</td>

      </tr>
      {% endfor %}

  </table>
  </div>
  </div>
</body>

<body>
  <h2>Recipes We Can Make with 3 new ingredient!</h2>
  <div id = "table-wrapper">
    <div id = "table-scroll">
      <table class = "table table-hover" table.fixed id = "t01">



      <tr>
        <th>ID</th>
        <th>CUISINE</th>

        <th>ingredient0</th>
        <th>INGREDIENT0 QUANTITY</th>
        <th>ingredient1</th>
        <th>INGREDIENT 1QUANTITY</th>
        <th>ingredient2</th>
        <th>INGREDIENT2 QUANTITY</th>
        <th>ingredient3</th>
        <th>INGREDIENT 3QUANTITY</th>
        <th>ingredient4</th>
        <th>INGREDIENT4 QUANTITY</th>
        <th>ingredient5</th>
        <th>INGREDIENT 5QUANTITY</th>
        <th>ingredient6</th>
        <th>INGREDIENT6 QUANTITY</th>
        <th>ingredient7</th>
        <th>INGREDIENT 7QUANTITY</th>
        <th>instructions </th>
        <th>calories </th>
        <th>protein </th>


      </tr>

      {% for r in threeMissing %}
      <tr>
        <td>  {{r.id}}</td>
        <td>    {{r.cuisine}}</td>
        <td>  {{r.ingredient0}}</td>
        <td>    {{r.ing0quantity}}</td>
        <td>{{r.ingredient1}}</td>
        <td>  {{r.ing1quantity}}</td>
        <td>  {{r.ingredient2}}</td>
        <td>    {{r.ing2quantity}}</td>
        <td>{{r.ingredient3}}</td>
        <td>  {{r.ing3quantity}}</td>
        <td>  {{r.ingredient4}}</td>
        <td>    {{r.ing4quantity}}</td>
        <td>{{r.ingredient5}}</td>
        <td>  {{r.ing5quantity}}</td>
        <td>  {{r.ingredient6}}</td>
        <td>    {{r.ing6quantity}}</td>
        <td>{{r.ingredient7}}</td>
        <td>  {{r.ing7quantity}}</td>
        <td>  {{r.instructions}}</td>
        <td>  {{r.calories}}</td>
        <td>  {{r.protein}}</td>

      </tr>
      {% endfor %}

  </table>
  </div>
  </div>
</body>


{% endblock %}
